<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPMP | <%= pageTitle %></title>
  <link rel="stylesheet" href="/styles/app.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12/dist/htmx.min.js" defer></script>
  <script src="/js/app.js" defer></script>
</head>
